*,::before,::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}


body{
    font-family: 'Poppins', sans-serif;
}


/* slider */

.slider .slider-item {
    background-color: #FCEAE8;
}

.slider .price{
    color: #ff3e8a;
}


.slider .price-btn{
    background-image: linear-gradient(to bottom, #f15996, #ff3e8a);
    padding: 11px 25px;
    color: #fff;
}